<h1>All Listings</h1>
<% if flash[:success] %>
  <h3><%= flash[:success] %></h3>
<%end%>

  <div class="flex-container">
  <% @listings.each do |listing| %>
  
      <div class="card"><%= link_to listing.cat.name, listing_path(listing) %></div>
   
  <% end %>
   </div>
  



<%= button_to "Create a New Listing!", flow_path, method: :get%>