<h1>All Listings</h1>
<% if flash[:success] %>
  <h3><%= flash[:success] %></h3>
<%end%>

<% @listings.each do |listing| %>
<ul><li><%= link_to listing.cat.name, listing_path(listing) %></li></ul>
<% end %>

<%= button_to "Create a New Listing!", flow_path, method: :get%>