<h1>Hey all you cool cats and kittens!!</h1>

<h3> All of our lovely purr babies are already listed! Since we never have a spare cat without a listing, you'll need to create a new cat per new listing.</h3>

<%= button_to "Create a Cat!", new_cat_path, method: :get%>