<h1>Hey all you cool cats and kittens!!</h1>

<h3> Since all of our lovely purr babies are already listed, you need to create a new bundle of joy before creating a new listing</h3>

<%= button_to "Create a Cat!", new_cat_path, method: :get%>