// Place all the styles related to the adoption_centers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
    text-align: center;
}

h4{
    text-align: center;
}

.flex-container{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    // flex-flow: column wrap;
    flex-wrap: wrap;
}

.card{
    height: 30vw;
    background-color: orange;
    margin: 2em;
    text-align: center;  
    width: 25vw;
    font-size: larger;
    font-weight: bold;
    line-height: 100px; 
}

a:link{
    color: black
}

div img{
    width: 18vw;
}

div img:hover{
    width: 22vw;
}





