/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 
 ul {
    background-color: rgb(211, 211, 211);
  } */
  
  ul li {
    display: inline-block;
    padding: 20px;
    color: whitesmoke;
  }
  
  li:hover {
    background-color:#ff713d ;
    transition-duration: 1s;
  }
  
  .right {
    float: right;
  }

  #navbar, li {
    text-align: center;
    background-color: black;
    color: whitesmoke
    /* text-decoration: none; */
  }

  a:link {
    text-decoration: none ;
    color: whitesmoke
    
  }

  a:visited {
    color: whitesmoke;
    text-decoration: none ;
  }

  /* img {
    FONT-VARIANT: JIS04;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
} */


  
