// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1{
    text-align: center;
}

.flex-container{
    display: flex;
    background-color: lightgrey;
    justify-content: space-around;
  
}

.card{
    flex-flow: column wrap;
    height: 10vw;
    background-color: pink;
    margin: 2em;
  
}

a:link{
    color: black
}

