
 <!-- <link rel="stylesheet" href= "./welcome.scss"/> -->
<h1 class="banner">Welcome to PurrEver Home!</h1>



<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.scotsman.com%2Fimages-i.jpimedia.uk%2Fimagefetch%2Fhttps%3A%2F%2Fjpgreatcontent.co.uk%2Fwp-content%2Fuploads%2F2020%2F04%2Fcarole-baskin.jpg&f=1&nofb=1" alt="Carol Baskin leaning next to a tiger.">